.col-container {
  /* border: 1px solid red; */
  border-radius: 2px;
  background-color: aquamarine;
  width: 100%;
}

.title {
  padding: 8px;
}

.tasklist {
  /* width: 200px; */
  /* min-height: 200px; */
  background-color: lightgray;
}
