.task-container {
  border-bottom: 1px solid #f0f0f0;
  padding: 8px;
  margin-bottom: 8px;
  /* background-color: lightcoral; */
  font-size: 0.8rem;
  cursor: pointer !important;
}

.checkbox-container {
  position: relative;
  display: flex;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.task-content {
  position: relative;
  padding-left: 20px;
}

input[type="checkbox"] + p::before {
  content: "";
  position: absolute;
  left: 0px;
  /* background: lightcoral; */
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 50%;
}

input[type="checkbox"]:checked + p::after {
  content: "";
  position: absolute;
  left: 6px;
  bottom: 3px;
  display: inline-block;
  background: transparent;
  width: 5px;
  height: 9px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  transform: rotate(45deg);
}

input[type="checkbox"]:not(:checked):hover + p::after {
  content: "";
  position: absolute;
  left: 6px;
  bottom: 3px;
  display: inline-block;
  background: transparent;
  width: 5px;
  height: 9px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  transform: rotate(45deg);
}
